
###> symfony/framework-bundle ###
/.idea/
/config/secrets/prod/prod.decrypt.private.php

###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
/var/
/vendor/
/migrations/
###> symfony/phpunit-bridge ###
###< symfony/phpunit-bridge ###
/assets/vendor/
###> symfony/asset-mapper ###
/var/cache/
/var/log/
###< symfony/asset-mapper ###
/.env
/node_modules/